
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
}
.colorAndB1{
  background-color: #848e9b ;
  color:floralwhite;
}
.colorAndB2{
  background-color: white;
  color: #000000;
}
.color2{
  background-color: #393d42;
  color:floralwhite;
}
.bg3{
  background-color: #535757;
}

.navbar-dark {
  background-color: #393d42;
}
.nav-link{
  overflow: hidden;
  /*display: flexbox;*/
  color:whitesmoke;
  /*padding: 5;*/

}
.footer{
  /*background-color: #89929c;*/
  color:floralwhite;
}
.addItemsCards{
  
  min-height: 600px;
}
.itemOnCreateNewCards{
  width: 100%;
}
.surveyContainer{
  padding: 3em;
  background:white;
    box-shadow: 4px 3px 8px 1px #888585;
  	-webkit-box-shadow: 4px 3px 8px 1px #978f8f;
}
@media only screen and (min-width: 1000px) {
  .PrevCard1{
    width:400px;
  }
  .container-survey{
    margin-right: 10%;
    margin-left: 10%;
  }
}

.eachQuestion-container{
  padding: 1em;
  margin: 1em;
  background:white;
    box-shadow: 4px 3px 8px 1px #888585;
  	-webkit-box-shadow: 4px 3px 8px 1px #978f8f;
}
@media only screen and (max-width: 800px) {
  .eachQuestion-container{
    margin-right: 0;
    margin-left: 0;
  }
  .surveyContainer{
    padding-right: 0;
    padding-left: 0;
  }
}
.questions-container{
  width: 70%;
}
.scrollable-x{
  overflow-x: scroll;
}
.scrollable-y{
  overflow-y: scroll;
}
.heightOfTextfieldC{
  height: 300px;
}
.scrollpart{
  min-width: 800px;
}
.showIt{
  display: block;
}
.hideIt{
  display: none;
}
.styling1{
overflow-y: scroll;
  height: 400px;
}