
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #848e9b ;
  color:floralwhite;
}

.navbar-dark {
  background-color: #393d42;
}
.nav-link{
  overflow: hidden;
  display: flexbox;
  color:whitesmoke;
  padding: 5;

}
.footer{
  background-color: #89929c;
  color:floralwhite;
}
.addItemsCards{
  
  min-height: 600px;
}
.itemOnCreateNewCards{
  width: 100%;
}
.surveyContainer{
  padding: 3em;
  background:white;
    box-shadow: 4px 3px 8px 1px #888585;
  	-webkit-box-shadow: 4px 3px 8px 1px #978f8f;
}
.eachQuestion-container{
  padding: 1em;
  margin: 1em;
  background:white;
    box-shadow: 4px 3px 8px 1px #888585;
  	-webkit-box-shadow: 4px 3px 8px 1px #978f8f;
}
.questions-container{
  width: 70%;
}
.scrollable-x{
  overflow-x: scroll;
}
.scrollpart{
  min-width: 600px;
}